@import "tailwindcss";

@theme {
  --color-obsidian: #0a0e17;
  --color-obsidian-light: #161b22;
  --color-primary: #3b82f6;
  --color-success: #10b981;
}

body {
  background-color: var(--color-obsidian);
  color: #f3f4f6;
}
